@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root[data-theme='dark'] {
    background-color: #242424;
    --form-element-background-color: #242424;
    --color: #eee;
    --font-family: 'Poppins', sans-serif;
}
